{% extends "base_tutorial.html" %}

{% block description %}While list-like data structures can be fast and efficient, sometimes we want to be able to refer to things 
with descriptive names instead of just numbers. In this tutorial, we'll be applying one of Python's more
versatile data types--the dictionary--practically.{% endblock %}
{% block keywords %}phone book, python, dictionary{% endblock %}
{% block title %}Creating a Phone Book in Python{% endblock %}
{% block content %}
<p>While list-like data structures can be fast and efficient, sometimes we want to be able to refer to things 
with descriptive names instead of just numbers. In this tutorial, we'll be applying one of Python's more
versatile data types--the dictionary--practically.</p>

<h3>Prerequisites</h3>
Before attempting this tutorial, you should of an idea of how to:
<ul>
<li>access and store information in dictionaries</li>
<li>create custom functions</li>
<li>use the for loop</li>
</ul>

<p>Hopefully you are comfortable with the material listed above, 
because this tutorial will generally gloss over those subjects. If you find yourself 
getting stuck with anything on the above list during this tutorial, 
then try reading the relevant material from previous chapters before hopping
back in.</p>

<h2>Goal</h2>
Let's suppose we want to create a phone book in Python that looks something like this:
<pre><code class="Python">phone_book = {
    'George Washington': 8057041776,
    'Thomas Jefferson': 5107041776,
    'John Hancock': 4157041776
    'Paul Revere': 5104181775
}</code></pre>

<p>Furthermore, we want to make this phone book useful. That is, we want to implement
functions that allow us to say, for example, search through it by name and number.
</p>

<h2>Step 1: Create a function to insert numbers</h2>
<p>This function should have three arguments:</p>
<ul>
<li>book - A dictionary containing the phone book</li>
<li>name - The person's name</li>
<li>number - The person's phone number</li>
</ul>

<h3>Solution to Step 1</h3>
<pre><code class="Python">def book_insert(book,name,number):
    phone_book[name] = number
</code></pre>


<h2>Step 2: Create a function to print out our phone book</h2>
<div class="example">
<p><strong>Hint:</strong> Remember that you can iterate over the keys of a dictionary.
The following code</p>
<pre><code class="Python">fruits = {
    apple: "A red fruit."
    orange: "An orange fruit."
} 

for i in fruits.keys():
    print(i)
</code></pre>
<p>will produce (in a random order):
<pre><samp>orange
apple</samp></pre>
</p>
</div>

<h3>Solution to Step 2</h3>
<pre><code class="Python">def book_print(book):
    for name in book.keys():
        number = book[name]
        print(name,number)
</code></pre>
    
<h2>Step 3: Create a function to search through our phone book</h2>
<p>Let's have this function search through our phone book, printing anything that matches our search parameters.
For now, let's just have one search parameter: a number. This number can be a full phone number, or just a few digits, e.g. an area code.
</p>

<div>
<strong>Hint 1: Checking if X is in Y</strong>
<pre>
<samp>"Slim Shady" in "Will the real Slim Shady please stand up?"</samp> will return <strong>True</strong>.</pre>

<p>Now, if you stored your phone numbers as integers (like I did), then using the above code will produce an error since the in clause
only works on iterables.
The easiest solution is to convert your numbers to strings with Python's built-in str() function, like:</p>
<pre><samp>str(100) in str(10075)</samp></pre>

<strong>Hint 2: Don't repeat yourself</strong>
<p>Earlier, we already made a function book_print() that takes a dictionary as input, and spits 
its contents back out. Use this function again to print your search results. In order to do this, you'll also need
to store your search results in a dictionary.</p>

<h3>Step 3 Solution</h3>
<pre><code class="Python">def book_search(book,number):
    matches = {}
    for name in book.keys():
        phone_number=int(book[name])
        if str(number) in str(phone_number):
            matches[name]=phone_number
    book_print(matches)
</code></pre>
</div>
{% endblock %}