{% extends "base_tutorial.html" %}

{% block title %}Appendix: Function Arguments with Examples{% endblock %}
{% block content %}
<h2>Basic Functions</h2>
<h3>Function which takes one argument</h3>
<pre><code>import math # Used for next_square()
''' Example:

    >>> say("Yo quiero Taco Bell")
    Yo quiero Taco Bell
'''

def say(message):
    print(message)
    

''' Return the next square
    Examples:
    
    >>> next_square(4) = 9
    >>> next_square(25) = 36        
'''

def next_square(x):
    # We call a number a "square" if its square root is an integer
    # The if statement checks if x is an integer
    if float(int(math.sqrt(x))) != math.sqrt(x):
        raise ValueError('{0} is not a square'.format(x))
    else:
        return (math.sqrt(x) + 1)**2
</code></pre>
<h3>Function with an optional/default argument</h3>
<p>The function below has an optional argument. If a value for the argument is not provided when 
calling the function, a default value <em>("Yo quiero Taco Bell")</em> will be used.</p>
<pre><code>def speak(message="Yo quiero Taco Bell"):
    print(message)
</code></pre>

<h4>Examples</h4>
<pre><samp>>>> speak()
Yo quiero Taco Bell

>>> speak("Hello world!")
Hello world!
</samp></pre>

<h3>Combining Optional and Required Arguments</h3>
<p>

</p>
<pre><code>def introduce(town,name="Steve"):
    print("Hi, my name is {0} and I am from {1}.".format(name,town))
</code></pre>

<h2>Functions with Multiple Arguments</h2>
<p>For the introduce() example above, these following calls are equivalent:</p>
<ol><li>introduce("Oakland","Vincent")</li>
<li>introduce(town="Oakland",name="Vincent")</li>
<li>introduce("Oakland",name="Vincent")</li>
<li>introduce(name="Vincent",town="Oakland")
</li></ol>
<p>You might be asking, what are the rules Python uses such that these four different function calls 
are treated the same?</p>
<ul><li>Arguments can be explicitly named (4) or not (1)</li>
<li><ul><li>If they are not explicitly named, then Python assumes you 
are specifying arguments in the order in which they are defined</li></ul>
<li>Arguments which are explicitly named can be called in any order</li>
<li>All keyword arguments should be placed after non-keyword arguments</li>
<ul><li>This call will produce an error:<br />
<code>introduce(name="Vincent",Oakland)</code></li></ul>
</ul>
<h3>Tip: Explicitly name your arguments when possible</h3>
<p>This is a matter of taste, but there are two very good reasons why we
should name our arguments:
<ul><li>You might not (probably won't) remember the arguments of a particular function 
from code you last edited over a week ago</li></ul></p>

<h2>Functions with Arbitrary Arguments</h2>
<pre><code>''' Return the product of all of its arguments:

    Example:
    >>> product(1,2,3)
    6
    
    >>> product(10,10,0)
    0

'''
def product(*terms):
    product = 1
    for i in terms:
        product *= i
    return product
</code></pre>

<h3>Functions with arbitrary keyword arguments</h3>
<pre><code>''' Example:

    >>> drive_thru(option='cheeseburger')
    I would like a cheeseburger please.

    >>> drive_thru(option='cheeseburger',side='fries')
    I would like a cheeseburger with fries please.
    
    >>> drive_thru(option='cheeseburger',side='fries',drink='Coke')
    I would like a cheeseburger with fries and a Coke please.
    
'''
def drive_thru(**kwargs):
    order = 'I would like a '
    if ('option' in kwargs):
        order += kwargs['option']
    if ('side' in kwargs):
        order += ' with ' + kwargs['side']
    if ('drink' in kwargs):
        order += ' and a ' + kwargs['drink']
    order += ' please.'
    
    print(order)</code></pre>
    
<h3>Functions with both arbitrary arguments and keyword arguments</h3>
<pre><code>''' Examples:

    >>> print_quote("If you're not first you're last.",author="Eleanor Roosevelt")
    "If you're not first you're last." - Eleanor Roosevelt
    
    >>> print_quote("If you're not first you're last.","I'M VERY ANGRY",author="Eleanor Roosevelt")
    "IF YOU'RE NOT FIRST YOU'RE LAST." - Eleanor Roosevelt

'''

# Note: Calling this function without any arguments will produce an error unlike the
# product() or drive_thru() examples
def print_quote(message,*args,**kwargs):
    # Surround quote with ""
    message = '"{0}"'.format(message)
    
    if ("I'M VERY ANGRY" in args):
        message = message.upper()
    if ('author' in kwargs):
        message += ' - {0}'.format(kwargs['author'])
        
    print(message)</code></pre>
    
<h2>Recursive Functions</h2>
<p>Recursive functions are functions which call themselves. You should be careful
when constructing recursive functions and ensure that they eventually
terminate, or else they may potentially repeat forever.</p>
<pre><code># Compute n!
# See: http://stackoverflow.com/questions/5136447/function-for-factorial-in-python
def factorial(n):
    if (n == 0):
        return 1
    else:
        return n * factorial(n-1)
</code></pre>

<h3>Don't ever do this</h3>
<p>This function has no termination conditions and will continue forever until
either Python crashes or you hit Control + C.</p>
<pre><code>def dont_do_this():
    print("Don't ever do this")
    dont_do_this()</code></pre>

<h2>Closure</h2>
<pre><code># Functions within functions can pull variables from their parent scope, e.g.
# inner() has access to all of the variables within outer()'s scope

def outer():
    message = "Hello world!"
    
    def inner():
        print(message)
    
    inner()
</code></pre>
{% endblock %}