@media screen and (min-width: 1201px) {
	body { width: 50%; }
	#contact { right: 25%; }
}

@media screen and (max-width: 1200px) {
	body { width: 75%; }
	#contact { right: 12.5%; }
	}

/** Contact info block (needs to go before responsive layout) **/
p > a { color: inherit; text-decoration: none; }
p > a:hover { border-bottom-width: 1px; border-bottom-style: dotted; }

#contact { position: absolute; top: 0; text-align: right; }
#contact > h2 { padding: 0.2em 0.5em 0.2em 2em; margin-top: 1em; margin-bottom: 0; }
h2 { font-size: 1.3em; background: #3e606f; color: #fcfff5; text-transform: uppercase; }
#contact > h2 + p { margin: 0 0.6em 0 0; }
/* End of contact info */

/** Content wrappers **/
.both:first-of-type { margin-top: 3em; }
#left, #right { position: relative; top: -1em; }
#left {
	width: 30%;
	float: left;
}
#right {
	width: 65%;
	float: right;
}
/* End of content wrappers */

/** For my name **/
.top { margin-top: 0.5em; }
h1 > span {
	text-transform: uppercase;
	line-height: 110%;
	font-size: 1.5em;
	/*letter-spacing: 3px;*/
	}
h1 > span+span {
	color: #91aa9d;
	/*letter-spacing: 6px;*/
	display: block;
}
/* End of name code */