body {
	background-size: auto 100vh;
	background-position: top right;
	background-color: black;
    font-size: 12pt;
}

h1#name {
    font-size: 15vw;
    text-align: center;
}
    
#content {
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav {
    /* Add some spacing between logo and menu */
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav > a { 
	background: rgba(145,170,157, 0.75);
    margin: 0;
    flex-grow: 1;
	color: #fcfff5;
	padding: 0.6em;
	font-weight: 400;
	font-size: 6vw;
	text-align: center;
}

nav > a:hover { background: rgba(145,170,157,1); }