{% extends "base_tutorial.html" %}

{% load static %}

{% block title %}Getting Your Feet Wet: Installing and Using Python for the First Time{% endblock %}
{% block description %}This tutorial will get you up and running with Python, even if you don't have it installed yet!{% endblock %}
{% block content %}
<h2>Installing Python</h2>
<p>Installing Python is very simple, as long as you have administrator privilleges on your computer.
</p>

<h3>Downloading from www.python.org <em>(Windows, Mac, Linux)</em></h3>
<p>Python can be downloaded from <a href="https://www.python.org/">https://www.python.org/</a>.
You may need to scroll down to see it, but the download link is located directly on the main page.</p>
<p>Now, there are currently two main versions of Python in circulation&mdash;Python 3 and Python 2.
For the purposes of this tutorial, we will be using Python 3.</p>

<h3>Download from the Terminal (Mac, Linux)</h3>
<p>If you are unsure how to access the command line (terminal), a quick Google will
give you your answer. Once you have opened your terminal, enter this command:</p>
<pre><samp>sudo apt-get install python3</samp></pre>
<p>Note: Using "sudo apt-get install python" will install Python 2, not 3.</p>

<h2>Starting Python</h2>
<p>Now that we've installed Python, it's time to use it.</p>
<h3>Using Python from the Command Line</h3>
<p>Note to self: finish this section later</p>

<h2>Testing the Waters</h2>
<p>Now, we're going to use some actual Python! From the main Python console, we can
type in and execute actual Python code. In the example below, we're telling Python to display a 
basic "Hello World!" message.</p>

<p>Instructions:
<ol><li>Type <code>print("Hello world")</code> into the window
<li>Done.
</ol>

<img src="{% static 'baby-steps/helloworld.png' %}"></img>

<h3>What just happened?</h3>
Here, we told Python to execute its <code>print()</code> function, which displays 
whatever messages we tell it to display. The stuff next to the three arrows <code>>>></code>
is our input, and the stuff that comes on the line after is the resulting output. In general,
the outputs from the things we enter into a Python window are going to be the same as if we 
were running them from a .py script. However, there is one exception, which will be explained shortly.
</p>
{% endblock %}
 
{% block submenu %}
{% endblock %}