{% extends "base_tutorial.html" %}

{% block title %}Basic Data Types: String, Integer, Float{% endblock %}
{% block description %}This tutorial will teach you the ins and outs of Python's bread and butter data types, in addition to errors that can occur. This simple yet crucial lesson will be necessary for any further Python learning.{% endblock %}
{% block content %}
<h2>Introduction</h2>
<p>Our physical world is filled with all sorts of data. Programming languages
allow us to simplify and abstract that data so we can perform useful operations on them.
For example, you could use Python's string handling capabilities to create a program
which allows you to enter the titles of the books you own and then store that into a 
text file. For a more complicated example, you could create a list of the books you 
do not own yet, and then create a web crawler which searches
across online book stores and alerts you to good deals. A lot is possible with Python&mdash;if 
you first learn how to use its basic building blocks.</p>
</h2>
<h2>A Brief Overview</h2>
<h3>Strings</h3>
<p><strong>Strings</strong> are sequences of characters. Some examples include:
'ABCDEFGH#@!#(@UE' and 'The cat in the hat'. Like the previous examples, anything surrounded in single quotes is considered a string.
We can also use double or even triple (three ' or three ") quotes. Furthermore, we can also embed single quotes within double quotes 
and vice-versa (this actually does come in handy).</p>
<h4>Example: Single, Double, and Triple Quotes</h4>
<pre><samp>>>> x = "A string"
>>> y = 'A string'
>>> z = '''A string'''
>>> x == y == z
True
>>></samp></pre>
<p>The last statement is a <a href="../basics/booleans">Boolean statement,</a> which you will learn about soon.
Without diving into details, we are asking Python whether or not the variables x, y, and z are equal to each other. As you can see,
despite using different types of quotes, Python considers them to be the same.</p>
<h4>Example: Quote Embedding</h4>
<pre><samp>>>> quote = "The governor said that there was a 'fat chance' of the bill passing."</samp></pre>
<p>An <strong>integer</strong> (or "int") is, unsurprisingly, any real whole number. Examples include:
-5, 0, 1, and 999.</p>
<p>A <strong>floating point number</strong> (or "float") is a decimal number. In Python, all fractions
are represented as floating point numbers.</p>

<h3>Type</h3>
<p>All data in Python can be classified by its <strong>type</strong>, which means exactly what you think it means.
What type of data is <code>'The cat in the hat'?</code> String. What type of data is <code>123</code>? It's an integer.</p>
<p>Now, why does this matter? Python enforces strict rules which dictate how different 
data types interact with each other. When one of these rules is broken, Python spits out an error message.</p>

<h2>Errors</h2>
<p>Now, we have seen three different data <strong>types</strong>. The reason why this is 
emphasized is because a data's type determines how it interacts with other data. In real life, 
if a person asked you to "multiply 5 by 5", you would (hopefully) have no problem answering that question.
But what if a person asked you to "take the square root of 'potato'"? You would probably respond with a 
look of bewilderment on your face, and so would Python (or at least we would imagine if Python were a person).

</p>
<pre><samp>>>> 5*5
25
>>> 25**(1/2)
5.0
>>> "potato"**(1/2)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'float'
>>>
</samp>
</pre>
<h3>What happened?</h3>
<p>Fill in later</p>

<h3>'123' is not the same as 123</h3>
<pre><samp>>>> x = 123
>>> y = '123'
>>> x + y
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;
TypeError: unsupported operand type(s) for +: 'int' and 'str'
>>> type(x)
&lt;class 'int'&gt;
>>> type(y)
&lt;class 'str'&gt;</samp></pre>
<p>As you can see above, anything surrounded in single (or double) quotes 
is considered to be a string. On the other hand, numbers without quotes are 
either integers or floats (depending on if they have a decimal or not). 
Because placing the plus sign between a string and integer in Python is an undefined operation,
doing so will spit out an error, even if it is "obvious" what the answer should be.</p>
<p>This is likely a problem that will bite you many times over the course of your Python
adventures. Luckily, the solution is simple.</p>
<h4>Solution</h4>
<p>Use <code>int()</code> or <code>float()</code> to convert numeric strings into numbers.
</p>
<pre><samp>>>> x + int(y)
246
>>> pi = '3.14'
>>> pi * 2
'3.143.14'
>>> float(pi) * 2
6.28
>>></samp></pre>
<p>In the output above, we can see a few things happened:
<ul><li>Using the <code>int()</code> function on y converted it into an integer.</li>
<li>Placing the * symbol between pi and 2 didn't result in an error, but it 
didn't result in the arithmetic we were expecting either.</li>
<ul><li>This is because the * symbol actually has a defined use for strings, which is 
repeating the string by the specified amount of times (here, it was twice).</li></ul>
<li>Using the <code>float()</code> function converted pi into a decimal number.
</li>
</ul></p>
<h2>More Errors</h2>
<p>Errors are a fact of life in programming. Nobody escapes errors indefinitely unless
they are incredibly lucky, or the projects they are working on are very trivial. Thus, learning how 
to deal with errors&mdash;which includes learning to read error messages&mdash;is an essential
Python skill.</p>
<h3>Syntax Error</h3>
<pre><samp>>>> condition = True
>>> while condition
  File "<stdin>", line 1
    while condition
                  ^
SyntaxError: invalid syntax
>>>
</samp></pre>
<p>Examples of syntax errors in English include:
<ul><li>I putted the items on the shelf.</li>
<li>I want to buy a car a house and a dog.</li>
<li>Your car is blocking the sidewalk yesterday.</ul>

Just like English, Python also has grammar rules. However, while you could probably
still infer the meaning of the sentences above, Python has zero tolerance for 
bad grammar. Most syntax errors, no matter how "trivial", will crash a program. Usually, syntax errors 
involve missing quotes (like forgetting to close off strings), missing colons, missing parentheses, 
or mis-indented code blocks.</p>
{% endblock %}