{% extends "base_tutorial.html" %}

{% block title %}Foreword{% endblock %}

{% block content %}
<h2>Foreward: About these tutorials</h2>
<p>These tutorials are just that, tutorials. They are not meant to be an exhaustive reference of 
the Python language. For <em>the</em> authoritative document on that, <a href="https://docs.python.org/3/">
click here.</a></p>
<p>While the official Python documentation is exhaustive, it doesn't synthesize
information that is helpful to newbies. It does not give many helpful, practical examples of 
things that can be done with Python, nor does it suggest how certain features can 
be combined with each other to achieve a certain goal. These tutorials were created 
to fill that gap.</p>
<p>In this text, there will be many examples as well as exercises for the reader to try.
Many of my friends were interested in learning Python, so this text was the result of 
my attempt to educate them. Personally, I took the learn-by-doing approach in writing this
text since that is how I learned it and why I was initially motivated to learn computer programming
even though I'm not a CS major.
</p>

<h3>Reading this Text</h3>
<p>While I consider this text to be brief and succinct, I know most readers aren't going to 
read every word I wrote, so here's the tips to get the most out of it:</p>
<ul>
<li>Any word in <strong>bold</strong> is either a key definition, a Python keyword, or an important function. You will either use them while coding or see them 
in other Python tutorials and Python-related reading.</li>
<li>Most descriptions of syntax will be followed up with an example of its use</li>
<li>Any useful "tricks" that I deem worthy of mentioning will either have its own
subheading or be bolded.</li>
</ul>
{% endblock %}