{% extends "base_quiz.html" %}

{% block description %}A quiz on Python's list, tuple, and dictionary data structures.{% endblock %}
{% block keywords %}list, tuple, dict, python, dictionary, quiz{% endblock %}
{% block title %}Quiz: Lists, Tuples, and Dictionaries{% endblock %}

{% block quiz %}
    <div>
        <h2>Using Lists</h2>
        {{ list_index_1.html }}
        {{ list_index_2.html }}
        {{ list_len_1.html }}
        {{ list_concat_1.html }}
    </div>
    <div>
        <h2>Using Tuples</h2>
        {{ tuple_slice_1.html }}
        {{ tuple_error_1.html }}
    </div>
    <div>
        <h2>Using Dictionaries</h2>
        {{ dict_insert_1.html }}
    </div>
{% endblock %}