{% extends "base_tutorial.html" %}

{% block title %}String Operations{% endblock %}
{% block description %}Now that you know what strings are, it's time to to more useful things with them.{% endblock %}
{% block content %}
<p>Now that we know what strings are and how to create them, we are going to learn about more fun ways to play with them.</p>
<h2>Basic String Operations</h2>
<h3>Concatenation: Joining Strings Together</h3>
<p>The plus sign + is an <strong>operator</strong> which tells Python to join strings together. An operator 
is simply a symbol which tells us that a certain operation should be performed. For example, in "2/3", the slash 
operator tells us we should divide 2 by 3.</p>

<pre><samp>>>> x = "Colorless green ideas"
>>> y = "sleep furiously."
>>> z = x + " " + y
>>> z
'Colorless green ideas sleep furiously.'
>>></samp></pre>

<h3>Concatenation involving numbers</h3>
<p>Concatenation is an operation between <em>strings</em>. If you want to concatenate a string and a number, you have to convert that number to a string.
Suppose we create the following variable in Python.
</p>
<pre><samp>>>> money = 10</samp></pre>

<p>Now, how do we output the string "I have 10 dollars" using our <code>money</code> variable?</p>

<h4>Incorrect</h4>
<pre><samp>>>> "I have " + money + " dollars"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: Can't convert 'int' object to str implicitly
</samp></pre>
<h4>Correct</h4>
<p>Here, we use the <code>str()</code> function to convert numerical data types to strings.</p>
<pre><samp>>>> "I have " + str(money) + " dollars"
'I have 10 dollars.'</samp></pre>

<h3>Repetition</h3>
<p>The asterisk symbol * when applied to strings causes the string to be repeated. (When applied to numbers, it indicates multiplication).</p>
<pre><samp>>>> x = "Repeat after me."
>>> x*2
'Repeat after me.Repeat after me.'
>>> x*3
'Repeat after me.Repeat after me.Repeat after me.'
>>> y = "Echo"
>>> y*10
'EchoEchoEchoEchoEchoEchoEchoEchoEchoEcho'
>>></samp></pre>

<h3>Practice Problem: The Plus Operator</h3>
<pre><samp>>>> shampoo = 5
>>> milk = 3
>>> eggs = 5
>>> bacon = 5</samp></pre>
<p>Without assigning any new variables, write a print() statement which will create a message saying
<samp>The total cost is $18</samp>
by adding up the costs of shampoo, milk, eggs, and bacon.
</p>
<p>Note: The answer is not
<code>print("The total cost is $18")</code></p>
<h4>Solution <button class="plus-solution-trigger"></button></h4>
<div class="spoiler" id="plus-solution">
<p><code>print("The total cost is $" + str(shampoo + milk + eggs + bacon))</code></p>
<h5>Explanation</h5>
<p>When we place <code>shampoo + milk + eggs + bacon</code> inside of the str() function, they are still 
numbers which have yet to be converted to strings. Thus, the + sign tells Python to perform addition. It is 
the final result of that addition (18) which gets converted to a string.</p>
</div>
<h2>String Methods</h2>
<p>We will define what a "method" is later, but for now just understand "string methods" as functions which are 
applied specifically to strings, or roughly "things we can do to strings."</p>

<h3>Check if string contains only numbers</h3>
.isnumeric(): Check if a string contains only numbers
"555".isnumeric --> Returns True

<h3>Get all lowercase or all uppercase version of a string</h3>
<h4>x.lower()</h4>
<pre><samp>>>> x = "LOWERCASE ME"
>>> x.lower()
'lowercase me'</samp></pre>

<h4>x.upper()</h4>
<pre><samp>>>> x = "capitalize me!"
>>> x.upper()
'CAPITALIZE ME!'</samp></pre>

<h3>String Formatting via str.format()</h3>
<p>Just like string concatenation, string formatting is a way of joining different strings together. 
But why does string formatting exist when we already have concatenation? While you are free to use any 
method you like, many argue that string formatting has cleaner syntax and is easier to use
when it comes to joining more complicated strings.
</p>
<p><strong>Example Syntax:</strong> 
<ul><li>"some string {0}".format("replacement text for 0")</li>
</ul>
</p>

<h4>Examples</h4>
This method is best explained with examples.
<pre><samp>>>> 'My {0} is {1}'.format('car','new')
'My car is new'
>>> 'My {0} is {1}'.format('dog','a Border Collie')
'My dog is a Border Collie'
>>> 'My {0} is {1}'.format('name','Slim Shady')
'My name is Slim Shady'</pre></samp>
<p>To use str.format(), you need a string with:
<ul><li>Numerical indices surrounded by brackets, e.g. {0}, {1}, ... {100}</li>
    <li>Where the indices correspond to the order of arguments passed to the .format() function</li>
    <ul><li>In the last example, the index 1 corresponds to 'Slim Shady'.</li></ul>
</ul>
The function then replaces whatever is in those brackets with the corresponding substitution text.
</p>

<h4>Usage in print()</h4>
<p>The .format() method can make print() calls less clunky and confusing</p>

<h5>Method 1: +</h5>
<p>With regular string concatenation, an error message will result if you forget to convert numbers to strings.</p>
<pre><samp>>>> houses = 100
>>> print("There are " + houses + " houses in this square mile.")
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: Can't convert 'int' object to str implicitly
>>> print("There are " + str(houses) + " houses in this square mile.")
There are 100 houses in this square mile.</samp></pre>

<h5>Method 2: .format()</h5>
<p>On the other hand, .format() automatically converts numbers to strings.</p>
<pre><samp>>>> houses = 100
>>> print("There are {0} houses in this square mile.".format(houses))
There are 100 houses in this square mile.</samp></pre>
{% endblock %}