{% extends "one-column.html" %}
{% load static %}
{% load flatpages %}

{% block more_head %}
    <link href="{% static 'css/html-css/html.css' %}" rel="stylesheet" type="text/css">

    <!-- Syntax highlighting -->
    <link rel="stylesheet" href="{% static 'highlight/styles/default.css' %} ">
    <script src="{% static 'highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- End of syntax highlighting -->
    
{% endblock %}

{% block breadcrumbs %}{% breadcrumbs %}{% endblock %}
{% block title %}Fun Examples{% endblock %}
{% block page_title %}Fun Examples{% endblock %}

{% block content %}
<h2>Multi-Colored Flexible Navbar Example</h2>
<p data-height="265" data-theme-id="light" data-slug-hash="ZeGWaN" data-default-tab="html,result" data-user="vincela9" data-embed-version="2" data-pen-title="Multi-Colored Flexible Navbar Example" class="codepen">See the Pen <a href="https://codepen.io/vincela9/pen/ZeGWaN/">Multi-Colored Flexible Navbar Example</a> by vincela9 (<a href="http://codepen.io/vincela9">@vincela9</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
{% endblock %}