/* Tables */
table {
    border: 1px solid #dddddd;
    width: 100%;
    border-spacing: 0;
}

table td {
    border-bottom: 1px dotted #dddddd;
    border-right: 0;
    border-top: 0;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

th {
    font-family: Montserrat, sans-serif;
    text-align: left;
    background-color: rgba(62,96,111,1);
    color: rgba(252,255,245,1);
    padding: 0.5em;
}

td ul {
    list-style-position: inside;
    padding-left: 0;
}

/* Code Boxes */
pre {
    font-size: 90%;
    overflow: auto;
}

samp, pre > code {
    border-left: 0.25em solid;
    line-height: 1.4;
    display: block;
}

samp {
    border-color: rgba(62,96,111,1);
    background: #D8E4E9;
    padding: 1em;
}

pre > code {
    background-color: #dddddd;
    border-color: rgba(62,96,111,1);
    padding: 0.5em;
}
/* End of Code Boxes */

#content .file-download:after {
    content: " (Click here to download)";
    font-size: 80%;
}