body {
    width: 100%;
    font-family: Georgia, serif;
    font-size: 11pt;
    line-height: 1.6;
    margin-left: 0;
    margin-right: 0;
}

h1, h2, h3, h4 {
    font-family: Merriweather, Georgia, serif;
}

body > :not(#content_wrap), #sidebar {
    display: none;
}

#article_content {
    display: inline-block;
}

#article_content > * {
    display: block;
}