{% extends "base_tutorial.html" %}

{% block description %}{% endblock %}
{% block keywords %}boolean, if, else, elif, python{% endblock %}
{% block title %}More Examples of Using If/Else Statements{% endblock %}
{% block content %}

<p>Now that we have a basic understanding of if/else statements, let's go over some of the useful ways we can apply them.</p>
<h2>A Cool Trick with Boolean Statements</h2>
<p>In Python, empty strings, lists, dicts, and other container objects evaluate to <strong>False</strong>.</p>
<pre><code>>>> bool("Just gonna stand there and watch me burn")
True
>>> bool([1,2,3,4,5])
True
>>> bool({"staples":500,"pens":10,"notebooks":5,"post-its":200})
True
>>> bool("")
False
>>> bool([])
False
>>> bool({})
False
</code></pre>

<h3>Why does this matter?</h3>
<p>There are many times when we're coding where we will need to check if, for example,
a list is empty or not. In Python, we have a neater, shorter way
to check if something contains items or not.</p>

<h4>Example</h4>
<p>Instead of:</p>
<pre><code>if len(my_list) not 0</code></pre>

<p>Simply use:</p>
<pre><code>if len(my_list)</code></pre>

<h2>Checking for Membership (of a list, dictionary, etc.)</h2>
<p>We can easily check if <code>x</code> is an element if a collection of elements, such as a list, by using the <code>in</code> operator.</p>

<h3>Example: Using membership tests in if/else statements</h3>
<pre><code>vegetables = ['artichoke','carrot','celery','pizza']
food = 'pizza'

if food in vegetables:
    print(food + ' is a vegetable')
else:
    print(food + ' is not a vegetable')</code></pre>
<h4>Output</h4>
<pre><samp>pizza is a vegetable</samp></pre>


{% endblock %}