{% extends "base_tutorial.html" %}
{% load static %}

{% block description %}How do you find the sum of all the numbers between 0 and 100? In this article, we discuss how we can easily perform repetitive operations (and more) with for and while loops.{% endblock %}
{% block keywords %}for, while, loop, Python{% endblock %}
{% block title %}For and While Loops{% endblock %}

{% block content %}
<h2>What is a loop?</h2>
<p>A loop is a structure in Python that repeats itself until a certain 
termination condition is met. Loops are very powerful and useful structures which 
can be expressed with minimal lines of code. However, they can be abstract 
and confusing. To master the concept of loops, you should practice them&mdash;not only with 
the exercises provided in this article&mdash;but also on problems you come 
up with yourself.</p>
<h2>While Loops</h2>
<p>A while loop is a loop which repeats itself <em>while</em> a condition is true.
This implies that a while loop ends when that condition stops being true.</p>

<h3>Example: Countdown</h3>
<p>Here is an simple script which counts down, printing the number 10, then 9, and so on 
until we reach 0.
</p>
<pre><code>n = 10

while n > 0:
    print(n)
    n -= 1
</code></pre>
<p>Here, you can see that the condition our loop was subject to was that the variable 
<code>n</code> had to be greater than 0. On each step of the loop, we decreased <code>n</code>
by 1. Once <code>n</code> hit 0, the loop ended.</p>
<h4>Output</h4>
<pre><samp>10
9
8
7
6
5
4
3
2
1</samp></pre>

<h3>An Illustration</h3>
<img src="{% static 'loop/while_loop.png' %}" style="width: 80%"></img>
<p>As you can see, by drawing a diagram of how a while loop operates,
we end up drawing a loop. As for the question posed above, if n 
is never decreased, then it will always be true that n > 0. More precisely,
n will always equal 10. Thus, the while loop
never terminates and will continually output 10s the the window (until Python crashes).
When we create a loop that doesn't terminate, this is called an <strong>infinite loop</strong>.
If (or when) you accidentally create an infinite loop, or just want to exit out of one that 
is taking too long, hit Control + C on your keyboard to terminate it.
</p>

<h3>Practice Problem</h3>
<p>If you ran the countdown script above, you will notice that Python 
spit out all of the numbers almost immediately. But let's suppose that we 
want to add a one second delay after each number is printed. How would we do so?
Luckily, Python has a <code>sleep()</code> function in its <code>time</code> module which 
pauses the script for the specified duration. For example, <code>sleep(5)</code>
pauses the script for 5 seconds.<p>
<p>Using this function, rewrite the countdown script so that it pauses for a 
second after each number is printed.</p>
<h4>Solution <button class="countdown-solution-trigger"></button></h4>
<pre class="spoiler" id="countdown-solution"><code>from time import sleep

n = 10

while n > 0:
    print(n)
    sleep(1)
    n -= 1
</code></pre>

<h2>For Loops</h2>
<p>Here's a very abstract definition: a for loop takes an <strong>iterable</strong>
and goes over, or <strong>iterates</strong>, over its individual items.
Now I didn't really expect you to understand that, so here is a more concrete example.</p>
<h3>Example: Printing all of the names in a list</h3>
<p>This is a script which will go over (iterate) over the individual team names
in the list <code>afc_west</code> and print them all on a separate line.</p>
<pre><code>afc_west = ["Raiders","Broncos","Chiefs","Chargers"]

for team in afc_west:
    print(team)</code></pre>
<h4>Output</h4>
<pre><samp>Raiders
Broncos
Chiefs
Chargers</samp></pre>
<h4>What's going on?</h4>
<p>
We can imagine a for loop as breaking up the list into all its individual elements.
This list can be thought of as containing four individual strings. We can say that <em>
for each</em> of these strings, we're going to perform some sort of operation. 
With any for loop, on each step of the for loop, Python is going to assign the value 
of the individual element being accessed to some variable that we define (here, it is called <code>team</code>.)
We can make use of this variable by calling it in the body of the loop. Here, the body of our 
for loop is very simple: it just contains a print() function.
<ol>
<li>Set team = "Raiders"</li>
    <ol><li>Execute <code>print(team)</code> (where team = "Raiders")</li></ol>
<li>Set team = "Broncos"</li>
    <ol><li>Execute <code>print(team)</code> (where team = "Broncos")</li></ol>
<li>Set team = "Chiefs"</li>
    <ol><li>Execute <code>print(team)</code> (where team = "Chiefs")</li></ol>
<li>Set team = "Chargers"</li>
    <ol><li>Execute <code>print(team)</code> (where team = "Chargers")</li></ol>
</ol>
</p>
<h3>range()</h3>
<p>The <code>range()</code> function is one that is often paired with for loops.
What it does is that it produces an iterable which is comprised of a list of integers between some specified starting point and some 
ending point.</p>

<h4>Example: Print all the integers from 5 to 10</h4>
<pre><code>>>> for n in range(5,11):
     print(n)</code></pre>
     
<h5>Output</h5>
<pre><samp>5
6
7
8
9
10</samp></pre>
<p>If you notice, Python prints the number specified as the starting point, but not 
the end point. You should make note of this, as the <code>range()</code> function
is one you may potentially use a lot, and errors caused by not realizing, for example,
that <code>range(0,10)</code> doesn't actually contain the number 10 are very common.</p>

<h3>Example: Printing multiples of 5</h3>
<pre><code>for n in range(0,51,5):
    print(n)</code></pre>

<h4>Output</h4>
<pre><samp>0
5
10
15
20
25
30
35
40
45
50</samp></pre>
    
<p>The first argument tells Python to start at 0, while the third argument tells Python 
tells Python to only print every fifth number. By setting the second argument to 51,
we can print all the multiples of 5 from 0 to 50. Again, for the same reason described above,
if we had set the second argument as 50, the last number in the list of outputs would have been
45, not 50 (see for yourself).</p>

<h3>Example: Countdown (for loop style)</h3>
<p>Just like we can only count every fifth number, we can also count in reverse.
Using this feature of the range function, we can replicate the countdown as 
shown in the while loop above, but using a for loop.</p>
<pre><code>for n in range(10,0,-1):
    print(n)</code></pre>
<h4>Output</h4>
<pre><samp>10
9
8
7
6
5
4
3
2
1</samp></pre>
<p>This version is much more concise than the while loop version. Unlike the while loop version,
we didn't need to set or keep track of a counter variable&mdash;a variable which is roughly
a variable which keeps track of what step we are on. Logic erors involving counter variables 
are a ready source of programming errors.
For this reason, it is considered more Pythonic to use for loops instead of while loops 
for looping over integers.</p>
<h3>Practice Problem</h3>
<p>Find the sum of all the integers between 1 and 100.</p>
<h4>Solution <button class="sum-solution-trigger"></button></h4>
<div class="spoiler" id="sum-solution">
<pre><code>s = 0

for n in range(1,101):
    s += n
    
print(s)</code></pre>
<p>Note that in the solution, I named the variable containing the sum as 
<code>s</code> instead of <code>sum</code>. That is because <code>sum()</code>
is the name of a built-in Python function which actually performs the same functionality 
we just coded. For obvious reasons, it is generally a bad idea to give your variables and functions (which we'll go
over later) the same names as other variables and functions.
</p><p>We can check the accuracy of our code by making sure our output also 
matches with the output of Python's sum function.</p>
<pre><samp>>>> sum(range(0,101))
5050</samp></pre>
</div>
<h2>Examples</h2>
<h3>A program that doesn't end until a certain phrase is entered</h3>
<pre><code>while True:
    phrase = input('Parrot activated (enter "SHUT UP" to quit)\n')
    if (phrase == 'SHUT UP'):
        break
    else:   
        print(phrase)</code></pre>
<h4>Sample output:</h4>
<pre><code>Parrot activated (enter "SHUT UP" to quit)
Hi!
Hi!
Parrot activated (enter "SHUT UP" to quit)
hi!
hi!
Parrot activated (enter "SHUT UP" to quit)
Polly wanna cracker
Polly wanna cracker
Parrot activated (enter "SHUT UP" to quit)
shut up
shut up
Parrot activated (enter "SHUT UP" to quit)
SHUT UP
>>></code></pre>
<h4>Explanation of example</h4>
<p>This is a silly example of a program which repeats whatever the user 
enters until "SHUT UP" is entered.</p>
<h5>input()</h5>
<p>Here, Python's <code>input()</code> function takes whatever the 
user enters next into the window and stores it into the variable <code>phrase</code>.</p>
<h5>break</h5>
<p>The keyword <code>break</code>, when placed within a loop, immediately
stops that loop from excecuting. You can say that it <em>breaks</em> the loop.
It provides another way of terminating loops.</p>
<h2>For vs. While?</h2>
<p>While anything a for loop does can be equivalently reexpressed as a while loop,
the result is usually more code&mdash;and more code means more potential for error.
For the example above where we iterated through a list, this is what it would take to 
reexpress it using a while loop:
</p>
<pre><code>afc_west = ["Raiders","Broncos","Chiefs","Chargers"]

i = 0

while i < len(afc_west):
    print(afc_west[i])
    i += 1</code></pre>
<h3>Explanation</h3>
<p>This code does the exact same thing as the for loop version. However, 
because while loops and for loops are logically different structures (a distinction
which will be elaborated more on below), some 
additions had to be made.
<ul><li>We had to add an "index" variable (appropriately named <code>i</code>)
to keep track of which item of the list we were accessing</li>
<li>Any time we have a sequence, e.g. a list, the for loop is designed to
step through all of its individual items.</li>
<li>On the other hand, the while loop is not designed to do that automatically. We have to tell it to.</li>
<li>For the same reason above, we also have to increment our index variable after every step.</li>
<ul><li>Take out the line containing <code>i += 1</code> and this script will 
print "Raiders" over and over without end.</li>
</ul>
</ul>

<p><strong>Challenge Question:</strong> Why was condition in the while loop
above written as <code>while i < len(afc_west)</code> and not 
<code>while i <strong><=</strong> len(afc_west)</code>?</p>
</p>

<h2>Conclusion (and when to use while loops)</h2>
<p>Loops are very versatile structures which will allow us to perform 
repetitive operations easily. In this article, we covered the two main types of loops:
for loops, and while loops. While they are both used for performing repetitve operations,
they are logically different structures. A for loop goes over/iterates over/steps through a sequence,
while a while loop executes until a condition is false.</p>
<p>Most operations that can be performed with for loops should be performed 
with for loops. As we saw in the previous section, our attempt to rewrite a for loop as a while loop only added more complexity to the code 
without adding anything of practical value. On the other hand, it is still useful to know how to use while loops.
As with the "A program that doesn't end until a certain phrase is entered" example, 
we saw an example of a problem which could only be expressed as a while loop.
</p>
    
{% endblock %}
