{% extends "base_tutorial.html" %}
{% load static %}

{% block description %}Solidify your understanding of loops by using them to solve problems.{% endblock %}
{% block keywords %}for, while, loop, practice, Python{% endblock %}
{% block title %}For and While Loop Practice Problems{% endblock %}

{% block content %}
<h2>Basic Problems</h2>
<h3>Find all of the square numbers from 0 to 1000</h3>
<p>An integer is called a <strong><a href="http://mathworld.wolfram.com/SquareNumber.html">square number</a></strong>
 when its square root is also an integer. For example,
36 is a square number because its square root, 6, is also an integer.</p>
<p>Using a while loop to find square numbers, place your results into a list and print the final list.</p>
<h5>Solution <button class="square-solution-trigger"></button></h5>
<div class="spoiler" id="square-solution">
<pre><code>n = 0
squares = []

while n**2 < 1000:
    squares.append(n**2)
    n += 1

print(squares)
</code></pre>
<p>First, we initialize an empty list to store our numbers in. Then, we simply square the integers 0, 1, ... n until n squared exceeds 1000.</p>

<p>However you approached this problem, your code is correct if you got:</p>
<pre><samp>[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961]</samp></pre>
</div>

<h3>Find the first 10 square numbers</h3>
<p>Using a slight modification to the solution from the previous problem, generate just the first 10 square numbers.</p>
<h5>Solution <button class="square-10-solution-trigger"></button></h5>
<div class="spoiler" id="square-10-solution">
<pre><code>n = 0
squares = []

while len(squares) < 10:
    squares.append(n**2)
    n += 1

print(squares)
</code></pre>
</div>

<h4>Generate the same list, but with a for loop</h4>
<h5>Solution <button class="for-square-10-solution-trigger"></button></h5>
<div class="spoiler" id="for-square-10-solution">
<pre><code>squares = []

for n in range(0,11):
    squares.append(n**2)

print(squares)
</code></pre>
</div>

<h2>Problems Involving Functions</h2>
<p>These problems are meant to be done after reading the article on <a href="../functions">creating functions</a>.<p>

<h3>Remove every other letter from a word</h3>
<p>Create a function which removes every other letter from a word, starting with the second letter.</p>
<h5>Solution: <button class="remove-solution-trigger"></button></h5>
<div class="spoiler" id="remove-solution">
<pre><code>
</code></pre>
</div>

<h3>How do you prooooonounciate that?</h3>
<h5>Solution: <button class="pronounciate-solution-trigger"></button></h5>
<div class="spoiler" id="pronounciate-solution">
<pre><code>def pronounciate(input):
    vowels = ['a','e','i','o','u']
    result = []
    for word in input.split(' '):
        for letter in word:
            if letter in vowels:
                result.append(word.replace(letter,letter*5,1))
                break
        
    return ' '.join(result)</code></pre>
</div>
{% endblock %}