{% extends "base_tutorial.html" %}

{% block description %}The goal of this exercise is to create a program which prompts the user to enter a speed
in miles per hour and then prints out the conversion to kilometers per hours.{% endblock %}
{% block keywords %}control flow, python{% endblock %}
{% block title %}MPH to KMH Converter{% endblock %}

{% block header %}MPH to KMH Converter{% endblock %}
{% block content %}
<p>This exercise will show you how to work with Python's basic data types and well as
input and output functions.</p>

<h2>Goal</h2>
<p>The goal of this exercise is to create a program which prompts the user to enter a speed
in miles per hour and then prints out the conversion to kilometers per hours.</p>

<p>An example usage of the program should look like this:</p>
<pre><samp>Enter a number to convert to kilometers per hour: (or nothing to quit) 
25
25 MPH is equal to 40.2335 KM/H

Enter a number to convert to kilometers per hour: (or nothing to quit) 
60
60 MPH is equal to 96.5604 KM/H

Enter a number to convert to kilometers per hour: (or nothing to quit) 
767
767 MPH is equal to 1234.36378 KM/H

Enter a number to convert to kilometers per hour: (or nothing to quit) 
potato
Please enter a valid input.

Enter a number to convert to kilometers per hour: (or nothing to quit) 

>>> 
</samp></pre>

<p>Gleaning from the output above, there are three requirements for this code
(aside from obviously performing a conversion):
<ul>
<li>Keep prompting the user until they enter a blank input
<li>Print the conversion in a specific format</li>
<li>Print an error message for unexpected (non-numeric) inputs</li>
</ul>
</p>

<h2>Some Know-How</h2>
<h3>Dealing with Data Types</h3>
<p>Python's input() function returns all user input as a string. If you recall, strings have a handy
<strong>.isnumeric()</strong> method for checking if a string is only composed of numbers.

But remember to be careful, as the * operator works differently on strings than it does on numbers.
</p>
<pre><samp>>>> "500"*5
'500500500500500'
>>> 500*5
2500
>>> </samp></pre>
<p>Using the * operator on strings causes them to be repeated, since Python doesn't interpret
"500" as "the number 500". Fortunately, Python has a <strong>float()</strong> function to convert
numerical strings back into decimal numbers.</p>

<pre><samp>>>> x = "500"
>>> x*5
'500500500500500'
>>> float(x)
500.0
>>> float(x)*5
2500.0
>>> </samp></pre>

<h3>Program Structure</h3>
<p>Since we want this program to keep on going forever until the user stops, we'll want to use a 
while loop. Secondly, since there are multiple cases this program should respond to, we would probably
want to use an if/else if/else type structure.
</p>
<p>Lastly, but not leastly, use the formula: mph = 1.60934 * km/h. When you're done,
try entering the same inputs as I did above to see if you get the same results.</p>

<h3>Other Miscelleneous Hints</h3>
<h4>Creating multiple lines with one print() statement</h4>
<p>You can use '\n' (the newline character) in a print() or input() statement to create newlines.</li>
<pre><code class="nohighlight">>>> print("Hello\nworld")
Hello
world
>>> </code></pre></p>
<h4>Breaking out of a loop</h4>
<p>If you for some reason need to manually break out of your loop, use the <strong>Control + C</strong>
keyboard shortcut. Please avoid making anything like this example below:</p>
<pre><samp>>>> for i in range(1,100000):
	print("Help! I'm stuck in a loop and can't get out!")
    
Help! I'm stuck in a loop and can't get out!
Help! I'm stuck in a loop and can't get out!
Help! I'm stuck in a loop and can't get out!
Help! I'm stuck in a loop and can't get out!
Help! I'm stuck in a loop and can't get out!
Help! I'm stuck in a loop and can't get out!
Help! I'm stuck in a loop and can't get out!
Help! I'm stuck in a loop and can't get out!
Help! I'm stuck in a loop and can't get out!
Help! I'm stuck in a loop and can't get out!
Help! I'm stuck in a loop and can't get out!
Traceback (most recent call last):
  File "<pyshell#10>", line 1, in <module>
    for i in range(1,10000000): print("Help! I'm stuck in a loop and can't get out!")
  File "C:\Python34\lib\idlelib\PyShell.py", line 1344, in write
    return self.shell.write(s, self.tags)
KeyboardInterrupt
>>> 
</samp></pre>

<h2>Solution <button class="solution-trigger"></button></h2>
<pre id="solution" class="spoiler"><code class="Python">while True:
    mph = input("Enter a number to convert to kilometers per hour: (or nothing to quit) \n")
    if str(mph).isnumeric():
        kmh=float(mph)*1.60934
        print(str(mph) + " MPH is equal to " + str(kmh) + " KM/H\n")
    elif not mph:
        break
    else:
        print("Please enter a valid input.\n")
    </code></pre>

{% endblock %}
{% block submenu %}
{% endblock %}