{% extends "base_tutorial.html" %}

{% block title %}Variable Scope{% endblock %}
{% block description %}What is the scope of a variable and why do we need to know what it is?{% endblock %}
{% block content %}
<p>A potential lurking issue which we have been brushing under the rug so far is that of <strong>scope</strong>. However,
after the tutorial on functions, we're going to need to explain this concept more clearly.
</p>


{% endblock %}

{% block submenu %}
<h2>Useful Links</h2>
<a href="http://stackoverflow.com/questions/291978/short-description-of-scoping-rules">A Detailed Explanation of Python's Scoping Rules</a>
{% endblock %}