@media (min-width: 1100px) {

    /* Rule:
     * Header, footer, and footer content should all have the same
     * left, right margins */
    header, footer, #content_wrap {
        padding-left: 10%;
        padding-right: 10%;
    }

    /** Begin content **/
    /* Structure */
    #article_content { flex-direction: row; }

    #sidebar-wrapper { margin-left: 5%; }

    /* Also used in portrait mode for the table of contents */
    #sidebar {
        font-size: 0.95em;
        background: #E2EEF4;
        padding: 1em;
    }
    /* End Structure */
    /** End content **/

}

@media (max-width: 1099px) {
    
    /* Rule:
     * Header, footer, and footer content should all have the same
     * left, right margins */
    header, footer, #content_wrap {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    /** Begin content **/
    /* Structure */
    #article_content { flex-direction: column; }

    #toc-container {
        font-size: 10.5pt;
        padding: 1em;
    }
    /* End Structure */
    /** End content **/
}