body {
        margin: 0;
        line-height: 1.6;
        font-family: Droid Serif, Georgia, serif;
        font-size: 12pt;
}

a {
    /*color: rgba(62,96,111,1);*/
    color: rgba(25,52,65,1);
    text-decoration: none;    
}

a:visited {
    color: rgba(25,52,65,1);
}

a:hover {
    color: rgba(25,52,65,1);
    text-decoration: underline;
}
/*
p {
    line-height: 1.5;
}*/

/* #head, #content_wrap { background-color: #ffffff; } */

/** Header Fonts **/
h1, h2, h3, h4 {
    font-family: Droid Sans, sans-serif;
}
/** End Header Fonts **/

/** Head items **/
#head {
    padding-left: 10%;
    padding-right: 10%;
    height: 8em;
    background: rgba(25,52,65,1);
    position: relative;
    padding-bottom: 1em;
}

#head > h1, nav { position: absolute; }

#head > h1 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    display: inline;
    top: 0;
}

#head > h1 > a {
    color: #FCFFF5;
}

#head > h1 > a:hover {
    text-decoration: none;
}


/* Nav menu items */
#head > nav {
    bottom: 0.75em;
    right: 10%;
}

#head > nav > a {
    padding: 0.5em;
    margin-right: 0.25em;
    background: rgba(62,96,111,1);
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-family: Droid Sans, sans-serif;
}

#head > nav > a:hover {
    background: rgba(145,170,157,1);
}
/* End of nav menu items */
/** End of head items **/

/** Page title **/
#page_title {
    font-family: Droid Sans, sans-serif;
}

#page_title > a {
    display: block;
    font-weight: normal;
    font-size: 1;
}

#page_title > h1 {
    margin-top: 0em;
}

#page_title {
    padding-top: 2em;
    border-bottom: 1px solid rgba(209,219,189,1);
    margin-bottom: 2em;
}
/** End of page title **/

/** Begin content **/
/* Structure */
#content {
    order: 1;
    max-width: 40em;
}

#content > * * {
    max-width: 100%;
    
}

#content_wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#article_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#submenu {
    order: 2;
    min-width: 10em;
    flex-grow: 1;
    margin-left: 5%;
}
/* End Structure */

#content > h2, #content > h3, #content > h4 {
    margin-top: 1.75em;
    margin-bottom: 0.5em;
}

#content > h2 + p, #content > h3 + p, #content > h4 + p, #content > h2 + h3, #content > h3 + h4 {
    margin-top: 1em;
}

#content > p:first-child, #content > h2:first-child {
    margin-top: 0;
}

#content > h2, #content > h3 {
    color: rgba(25,52,65,1);
}

#content > h4 {
    color: rgb(62,96,111);
}

#content > p + pre {
    margin-bottom: 0;
}

/* Code Boxes */
code {
    width: 100%;
    background-color: #eeeeee;
    overflow: auto;
    font-size: 12pt;
    padding: 0.5em;
    display: block;
}
/*
code:hover {
    width: auto;
    overflow: visible;
}*/
/* End Code Boxes */

/* Tutorial Menus Code */

#submenu > ul > li:before {
    content: ">> ";
    padding-right: 0.25em;
    color: rgba(62,96,111,1);
}

#submenu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#submenu > ul > li {
    padding-left: 0;
}

#submenu > h2 {
    font-weight: normal;
}
#submenu > h2:first-of-type {
    margin-top: 0;
}
/* End of Tutorial Menus Code */

/** End content **/

/** Footer **/
#footer {
    width: 80%;
    font-size: 0.9em;
    background: rgba(25,52,65,1);
    color: rgba(145,170,157,1);
    margin-top: 4em;
    padding: 0.25em 10% 0.25em 10%;
    font-family: Droid Sans, sans-serif;
}
/** End of Footer **/