body {
    margin: 0;
    line-height: 1.5;
    font-family: Droid Serif, Georgia, serif;
    font-size: 12pt;
    overflow-x: hidden;
}

/** Header Fonts **/
/*
    h1 {
        font-family: Droid Sans, sans-serif;
 
    } */      
    h1, h2, h3, h4 {
        /*font-family: Droid Sans, sans-serif;*/
        font-family: Droid Serif, serif;
    }
    h1 {
        font-size: 2.2em;
        font-weight: 600;
    }
    h1, h2 {
        color: rgba(25,52,65,1);
    }
    h2, h3 {
        font-weight: 300;
    }
    h3, h4 {
        color: rgb(62,96,111);
    }
/** End Header Fonts **/

/* Link Styling */
a {
    /*color: rgba(62,96,111,1);*/
    color: rgba(25,52,65,1);
    text-decoration: none;    
}

a:visited {
    color: rgba(25,52,65,1);
}

a:hover {
    color: rgba(25,52,65,1);
    text-decoration: underline;
}
/* End of link styling */

/* Transitions (same for all sizes) */
#head {
    transition: padding 2s;
}
#head > nav {
    transition: position 2s;
}
#content_wrap {
    transition: width  2s, margin 2s;
}

/* End of transitions */


/* Code Boxes */
pre {
    overflow: auto;
}
samp, code {
    font-size: 11pt;
    line-height: 1.4;
    display: block;
}
samp {
    border-left: 0.25em solid rgba(145,170,157,1);
    background: rgba(252,255,245,0.5);
    padding: 1em;
}
code {
    background-color: #eeeeee;
    padding: 0.5em;
    display: block;
    border-left: 0.25em solid rgba(62,96,111,1);
}
/*
code:hover {
    width: auto;
    overflow: visible;
}*/
/* End Code Boxes */

@media (max-width: 799px) {
    /** Head items **/
    #head {
        padding-left: 2.5%;
        padding-right: 2.5%;
        background: rgba(25,52,65,1);
        padding-bottom: 1em;
    }

    #head > h1, nav { position: static; }

    #head > h1 {
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        font-size: 3em;
        display: inline;
        top: 0;
    }

    #head > h1 > a {
        color: #FCFFF5;
    }

    #head > h1 > a:hover {
        text-decoration: none;
    }


    /* Nav menu items */
    #head > nav {
        bottom: 0.75em;
        right: 10%;
    }

    #head > nav > a {
        padding: 0.5em;
        margin-right: 0.25em;
        /*background: rgba(62,96,111,1);*/
        color: #ffffff;
        text-decoration: none;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        font-family: Droid Sans, sans-serif;
    }

    #head > nav > a:hover {
        background: rgba(145,170,157,1);
    }
    /* End of nav menu items */
    /** End of head items **/

    /** Page title **/
    #page_title > a {
        display: block;
        font-weight: normal;
        font-size: 1;
    }

    #page_title > h1 {
        margin-top: 0em;
    }

    #page_title {
        padding-top: 2em;
        border-bottom: 1px solid rgba(209,219,189,1);
        margin-bottom: 2em;
    }
    /** End of page title **/

    /** Begin content **/
    /* Structure */
    #content {
        order: 1;
        max-width: 40em;
    }

    #content > * * {
        max-width: 100%;
        
    }

    #content_wrap {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    #article_content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #sidebar-wraper {
        order: 2;
        min-width: 10em;
        flex-grow: 1;
    }
    /* End Structure */

    #content > h2, #content > h3, #content > h4 {
        margin-top: 1.75em;
        margin-bottom: 0.5em;
    }

    #content > h2 + p, #content > h3 + p, #content > h4 + p, #content > h2 + h3, #content > h3 + h4 {
        margin-top: 1em;
    }

    #content > p:first-child, #content > h2:first-child {
        margin-top: 0;
    }

    #content > p + pre {
        margin-bottom: 0;
    }

    /* Tutorial Menus Code */

    #sidebar > ul > li:before {
        content: ">> ";
        padding-right: 0.25em;
        color: rgba(62,96,111,1);
    }

    #sidebar > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #sidebar > ul > li {
        padding-left: 0;
    }

    #sidebar > h2 {
        font-weight: normal;
    }
    #sidebar > h2:first-of-type {
        margin-top: 0;
    }
    /* End of Tutorial Menus Code */

    /** End content **/

    /** Footer **/
    #footer {
        width: 100%;
        font-size: 0.9em;
        background: rgba(25,52,65,1);
        color: rgba(145,170,157,1);
        margin-top: 4em;
        padding: 0.25em 2.5% 0.25em 2.5%;
        font-family: Droid Sans, sans-serif;
    }
    /** End of Footer **/    
}

@media (min-width: 800px) {
    /** Head items **/
    #head {
        padding-left: 10%;
        padding-right: 10%;
        height: 8em;
        background: rgba(25,52,65,1);
        position: relative;
        padding-bottom: 1em;
    }

    #head > h1, nav { position: absolute; }

    #head > h1 {
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        font-size: 3em;
        display: inline;
        top: 0;
    }

    #head > h1 > a {
        color: #FCFFF5;
    }

    #head > h1 > a:hover {
        text-decoration: none;
    }

    /* Nav menu items */
    #head > nav {
        bottom: 0.75em;
        right: 10%;
    }

    #head > nav > a {
        padding: 0.5em;
        margin-right: 0.25em;
        /*background: rgba(62,96,111,1);*/
        color: #ffffff;
        text-decoration: none;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        font-family: Droid Sans, sans-serif;
    }

    #head > nav > a:hover {
        background: rgba(145,170,157,1);
    }
    /* End of nav menu items */
    /** End of head items **/

    /** Page title **/
    #page_title > a {
        display: block;
        font-weight: normal;
        font-size: 1;
    }

    #page_title > h1 {
        margin-top: 0em;
    }

    #page_title {
        padding-top: 2em;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 2em;
    }
    /** End of page title **/

    /** Begin content **/
    /* Structure */
    #content {
        order: 1;
        max-width: 40em;
    }

    #content > * * {
        max-width: 100%;
        
    }

    #content_wrap {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #article_content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #sidebar-wrapper {
        order: 2;
        min-width: 10em;
        flex-grow: 1;
        margin-left: 5%;
    }
    
    #sidebar {
        background: #eeeeee;
        font-size: 11pt;
        padding: 1em;
        
    }
    #sidebar * {
        font-family: Droid Sans, sans-serif;
    }
    /* End Structure */

    #content > h2, #content > h3, #content > h4 {
        margin-top: 1.75em;
        margin-bottom: 0.5em;
    }

    #content > h2 + p, #content > h3 + p, #content > h4 + p, #content > h2 + h3, #content > h3 + h4 {
        margin-top: 1em;
    }

    /* Last selector is for quizzes */
    #content > p:first-child, #content > h2:first-child, #content > * h2:first-of-type {
        margin-top: 0;
    }

    #content > p + pre {
        margin-bottom: 0;
    }

    /* Quiz Code */
    #content > form > div:first-child {
        margin-top: 0em;
    }
    #content > form > div:not(first-child) {
        margin: 2em 0 2em 0;
    }
    
    /* Tutorial Menus Code */
    #sidebar ul {
        padding-left: 0;
        list-style-type: none;
        color: rgba(62,96,111,1);;
    }

    #sidebar ul > li {
        line-height: 2em;
    }
    
    #sidebar .toc-h3 {
        padding-left: 1em;
        font-style: italic;
    }
    
    #sidebar h2 {
        font-weight: normal;
    }
    #sidebar > h2:first-of-type {
        margin-top: 0;
    }
    /* End of Tutorial Menus Code */

    /** End content **/

    /** Footer **/
    #footer {
        width: 80%;
        font-size: 0.9em;
        background: rgba(25,52,65,1);
        color: rgba(145,170,157,1);
        margin-top: 4em;
        padding: 0.25em 10% 0.25em 10%;
        font-family: Droid Sans, sans-serif;
    }
    /** End of Footer **/
}