body {
    line-height: 1.7;
}

/** Header Styling **/
header {
    color: #FCFFF5;
    background: rgba(25,52,65,1);
}

#logo h1 span {
    color: rgba(209,219,189,1);
}

#logo a:hover {
    text-decoration: none;
}
/** End of Header Styling **/

/* Forms */
button {
    font-size: 12pt;
    background-color: #3E606F;
    color: #FCFFF5;
    margin: auto 0.1em auto 0.1em;
    /* Goal: Achieve a centered look for the text
       Top padding is less than bottom padding due to optical illusions */
    padding: 0.2em 0.5em 0.3em 0.5em;
    /*  Goal: Increase clickable area (implement when I find out how rounding works)
    border: 5px solid transparent;
    background-clip: padding-box;
    */
    border: 0;
    border-radius: 0.2em;
    display: inline-block;
    cursor: pointer;
}

/* Transitions (same for all sizes) */
header, footer, #content_wrap {
    transition: width 2s, padding 2s;
}

button, header nav > a {
    transition: background-color 1s;
}

button:hover, header nav > a:hover {
    background-color: #91AA9D;
}
/* End of transitions */

/** Page title **/
#page_title > a {
    display: block;
    font-weight: normal;
    font-size: 1;
}

#page_title > h1 {
    margin-top: 0em;
}

#page_title {
    padding-top: 2em;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 2em;
}
/** End of page title **/

/** Sidebar **/
#sidebar-wrapper {
    order: 2;
    min-width: 10em;
    flex-grow: 1;
}

#sidebar ul {
    padding-left: 0;
    list-style-type: none;
    color: rgba(62,96,111,1);;
}

#sidebar ul > li {
    line-height: 2em;
}

#sidebar h2 {
    font-weight: normal;
}

#sidebar > h2:first-of-type {
    margin-top: 0;
}

/* Table of Contents: shit needs to be fixed */
#toc-container {
    overflow-y: auto;
}

.toc-h3 {
    padding-left: 1em;
    font-style: italic;
}

/** End of sidebar **/
/** Content **/
#article_content {
    display: flex;
    flex-wrap: nowrap;
}

#content {
    order: 1;
    max-width: 40em;
}

#content * {
    max-width: 100%;    
}

#content > h2, #content > h3, #content > h4 {
    margin-top: 1.75em;
    margin-bottom: 0.5em;
}

#content > h2 + p, #content > h3 + p, #content > h4 + p, #content > h2 + h3, #content > h3 + h4 {
    margin-top: 1em;
}

/* Rule: 
 * The first child of #content should have margin-top disabled
 * Use *:first-child for this */
#content > *:first-child {
    margin-top: 0;
}
 
#content > p + pre {
    margin-bottom: 0;
}

/* Quiz Code */
#content > form > div:first-child {
    margin-top: 0em;
}

#content > form > div:not(first-child) {
    margin: 2em 0 2em 0;
}

/* Next/Previous Tutorial Links */
#prev-tut-link, #next-tut-link { max-width: 15em; }
#prev-tut-link { float: left; text-align: left; }
#next-tut-link { float: right; text-align: right; }

/** End of Content **/