{% extends "base_tutorial.html" %}

{% block title %}{% endblock %}

{% block more_head %}
<style type="text/css">
/* Custom Counters */
body {
    counter-reset: question;
}

.counter:before {
    counter-increment: question;
    content: counter(question) ".";
    margin-left: 0;
}


form p:not(.counter), form pre > code, form input[type='radio'], form label:not(.radio) {
    margin-left: 1em;
}

form input[type='text'] {
    font-size: 1em;
    padding: 0.2em;
    opacity: 0.5;
}

form input[type='text']:hover, form input[type='text']:focus {
    opacity: 1;
}

form h2:first-of-type {
    margin-top: 0;
}

.end {
    text-align: right;
}
</style>
{% endblock %}

{% block content %}
<p><strong>Instructions:</strong> Attempt all questions before hitting the "Submit" button near the bottom of the page.</p>
<form method="post">
    {% block quiz %}{% csrf_token %}
    {% endblock %}
    <div class="end">
        <button>Submit</button>
    </div>
    {% csrf_token %}
</form>
{% endblock %}

