<!-- A collection of common macros -->

{% macro article_time(article) %}
<time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
{% endmacro %}

{% macro list_article(article) %}
    <h2>
        <a href="/{{ article.url }}">{{ article.title }}</a>
    </h2>
    <p>{{ article.summary }}</p>
    <p style="font-size: 0.9em;">
        {{ article_time(article) }} &mdash;
        Filed Under:
        {% for tag in article.tags %}
            <a href="/tag/{{ tag }}.html">{{ tag }}{% if tag != article.tags[-1] %},{% endif %}</a>
        {% endfor %}
    </p>
{% endmacro %}