{% extends "base.html" %}
{% block title %}{{ article.title }}{%endblock%}
{% block base_head %}
<link href='/theme/css/one-column.css' rel='stylesheet'>

{% block pelican_html_head %}{% endblock %}
{% endblock %}

{% block page_title %}
{{ article.title }}
    <span class="page-info">
    Published: {{ article.locale_date }}
    {% if article.modified %}
    &mdash;
    Last Updated: {{ article.locale_modified }}
    {% endif %}
    </span>
{% endblock %}

{% block content %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}

    {{ article.content }}
    
    <h2>Keep Reading</h2>
    <ul>
    <!-- Is this the best way to get all pages in a category from an article? -->
    {% for category in categories %}
        {% if category.0 == article.category %}
            {% for art in category.1|sort(attribute='source_path') %}
                {% if art.title == article.title %}
                <li><b>{{ art.title }}</b></li>
                {% else %}
                <li><a href="/{{ art.url }}">{{ art.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}