{% extends "base.html" %}

{% block more_head %}
<link href='/theme/css/one-column.css' rel='stylesheet' type='text/css'>
<link href='/theme/css/html-css/html.css' rel='stylesheet' type='text/css'>

<!-- Thanks to https://philiprogers.com/svgpatterns/#carbonfiber -->
<style type="text/css">
    .title-big {
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzI4MjgyOCI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");
    }
</style>
{% endblock %}

{% block title_class %}title-big{% endblock %}
{% block title %}{{ article.title }}{% endblock %}
{% block page_title %}{{ article.title }}{% endblock %}

{% block content %}
    {{ article.content }}
{% endblock %}