{% extends "base.html" %}

{% block more_head %}
<style type="text/css">
    /**
    .title-big {
        background:
            linear-gradient(to bottom,
                            rgba(41, 41, 41, 0.2) 0%,
                            rgba(41, 41, 41, 0.2)),
            url('/theme/images/june_lake_boi.jpg');
        background-size: 100vw;
        background-blend-mode: saturation;
    }
    **/

    article img {
        max-width: 50%;
    }
</style>
{% endblock %}

{% block title %}{{ page.title }}{% endblock %}
{% block page_title %}{{ page.title }}{% endblock %}

{% block content %}
    {{ page.content }}
{% endblock %}