body {
    line-height: 1.8;
}

/** General Link Styling */
a {
    color: rgba(25,52,65,1);
    text-decoration: none;    
}

a:hover {
    text-decoration: underline;
}
/** End of link styling **/

/** Header **/
header {
    min-height: 25em;
    height: 66vh;      
}

#logo, #title {
    margin-bottom: auto;    
}

#logo nav > a {
    color: inherit;
}

#title h1 {
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 0;
}
/** End of Header **/

/** Structure **/    
@media (max-width: 49.99em) {
    header, footer, article {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media (min-width: 50em) {
    header, footer {
        padding-left: 10%;
        padding-right: 10%;
    }

    article {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }
}

/** End Structure **/

/* Links */
a {
    text-decoration: none;
}

/** Content **/
article > *:not(li) {
    margin-top: 1.2em;
    margin-bottom: 1em;
}