{% extends "base_python.html" %}

{% block more_head %}
<style type="text/css">
    body {
        counter-reset: section page;
    }

    #content > ul > li:before, #submenu > nav > ul > li:before {
        content: ">> ";
        padding-right: 0.25em;
        color: rgba(62,96,111,1);
    }

    article > ul > li:before, #submenu > nav > ul > li:before {
        content: ">> ";
        padding-right: 0.25em;
        color: rgba(62,96,111,1);
    }

    .section:before {
        counter-increment: section;
        content: counter(section)". ";
    }
    
    .section { counter-reset: page; }
    
    .page:before {
        counter-increment: page;
        content: counter(section)"."counter(page)" ";
    }
    </style>
{% endblock %}
{% block title %}Python Tutorials{% endblock %}
{% block header %}Python Tutorials{% endblock %}

{% block content %}
<p>Welcome to my ... The foreword establishes some conventions used in this book, 
so you won't be confused later. But if you want to dip straight into Python, section 1.2 is
for you. There's also a helpful Appendix at the bottom of the page.</p>

<!-- Set h2 class="section" to restart page counters -->

<h2 class="section">Introduction</h2>
{{ intro }}

<h2 class="section">Getting Started</h2>
{{ basicsmenu }}
    
<h2 class="section">Working with Functions and Data</h2>
{{ funcdatamenu }}

<h2 class="section">Classes</h2>
{{ classmenu }}
    
<h2 class="section">Appendix</h2>
{{ appendix }}

{% endblock %}