{% extends "resume.html" %}

{% block content %}
<section>
    <h2>Summary</h2>
    <p>I am a skilled and motivated student with a diverse intellectual background looking to apply my knowledge.</p>
</section>
<section>
    <h2>Education</h2>
    <h3>University of California, Santa Barbara <span>2013 - 2017 <em>(expected)</em></span></h3>
    <p class="subtitle">Economics/Mathematics</p>
    <p>
        <ul>
            <li>Minors in Statistical Science and Philosophy <em>(in progress)</em></li>
            <!--<li>Other Relevant Coursework: Problem Solving with Computers I-II</li>-->
        </ul>
    </p>
    <h3>Oakland High School <span>2009 - 2013</span></h3>
</section>
<section>
    <h2>Skills</h2>
    <div id="skills-box">
        <section>
            <h3>General</h3>
            <ul><li>Can work as part of a team or independently</li>
                <li style="list-style-type: none;">
                    <ul>
                    <li>Resourceful</li>
                    <li>Self-driven, while still being able to communicate my goals and mehods to others</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>Organized and detail-oriented</li>
                <li>Can write clearly, concisely, and with intent</li>
                <li style="list-style-type: none;"><ul><li>SAT Writing: 690 (Overall: 2100)</li></ul></li>
            </ul>
        </section>
        <section>
            <h3>Technical</h3>
            <ul>
                <li>Basic reassembly of computer hardware</li>
            </ul>
            
            <h4>Software and Languages</h4>
            <ul>
                <li><strong>Advanced:</strong></li>
                <li style="list-style-type: none;"><ul>
                    <li>HTML/CSS</li>
                    <li>Python</li>
                    <li>Microsoft Office</li>
                </ul></li>
                <li><strong>Proficient:</strong> JavaScript, R, C++, LaTeX</li>
            </ul>            
        </section>
    </div>
</section>
<!--<section>
    <h2>Portfolio</h2>
    <h3>Blah</h3>
    <p>Blah</p>
</section>-->
{% endblock %}