{% extends "index.html" %}

{% block stylesheets %}
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<link href="{{ url_for ('static',filename='boatBackgroundCSS/boatBackground.css') }}" media="all" rel="stylesheet" type="text/css">
<link href="{{ url_for ('static',filename='boatBackgroundCSS/boatBackgroundLandscape.css') }}" media="(orientation: landscape)" rel="stylesheet" type="text/css">
<link href="{{ url_for ('static',filename='boatBackgroundCSS/boatBackgroundPortrait.css') }}" media="(orientation: portrait)" rel="stylesheet" type="text/css">
    <style type="text/css">
	/* Highlight urls we are on */
	a#currentPage, nav > a[href*="{{ request.path }}"] {
        font-weight: 400;
		background: rgba(62,96,111, 1);
	}
{% endblock %}

{% block content %}
<h1 id="name"><span class="condensed">Vincent</span> La</h1>
<script type="text/javascript">
var last_known_scroll_position = 0;
var ticking = false;

function doSomething(scroll_pos) {
  // do something with the scroll position
  menu = document.getElementById("menu");
  menuHeight = menu.clientHeight;

  content = document.getElementById("content");
  /*
  content.innerHTML=menuHeight;*/
  if (scroll_pos < 80) { opacity = 0.6 + scroll_pos * 0.005; }
  else { opacity = 1; }  
  
  if (scroll_pos > 0) {
    menu.setAttribute("class","onTop");
	menu.setAttribute("style","position: absolute; top: " + scroll_pos + "px; z-index: 1; opacity: " + opacity + ";");
  }
  else {
    menu.setAttribute("class","");
	menu.setAttribute("style","")
  }
}

window.addEventListener('scroll', function(e) {
  last_known_scroll_position = window.scrollY;
  if (!ticking) {
    window.requestAnimationFrame(function() {
      doSomething(last_known_scroll_position);
      ticking = false;
    });
  }
  ticking = true;
});
</script>
<div id="menu">
	<nav>
	{{ doc.menuContent|safe }}
	</nav>
	</div>
<div id="content">
	{{ doc.pageContent|safe }}
</div>
{% endblock %}