<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="author" content="Vincent La">
<head>
    <title>Vincent La</title>

    {% load staticfiles %}
	<style type="text/css">body { background-image: url('{% static "background.png" %}'); }</style>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    
	<link href="{% static "index_css/index.css" %}" media="all" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,400,300' rel='stylesheet' type='text/css'>
	<link href="{% static "index_css/index_landscape.css" %}" media="(orientation: landscape)" rel="stylesheet" type="text/css">
	<link href="{% static "index_css/index_portrait.css" %}" media="(orientation: portrait)" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">     
    <style type="text/css">
	/* Highlight urls we are on 
	a#currentPage, nav > a[href*="{{ request.path }}"] {
		background: rgba(145,170,157, 1);
	}*/
    
	</style>
    <script type="text/javascript">
        var last_known_scroll_position = 0;
        var ticking = false;

        function doSomething(scroll_pos) {
          var aboutme = document.getElementById('about');
          
          // do something with the scroll position
          var vh = window.innerHeight;
          var current_style = aboutme.getAttribute("style");
          // Made the "About Me" section fade-in as user keeps scrolling
          if (scroll_pos > 0) {
            aboutme.setAttribute("style",current_style + "; opacity: " + (scroll_pos/vh));
          }
          else {
            aboutme.setAttribute("style",current_style + "; opacity: 1");
          }
        }

        window.addEventListener('scroll', function(e) {
          last_known_scroll_position = window.scrollY;
          if (!ticking) {
            window.requestAnimationFrame(function() {
              doSomething(last_known_scroll_position);
              ticking = false;
            });
          }
          ticking = true;
        });
    </script>
</head>
<body>

<div id="overlay"></div>
<div id="content">
    <h1 id="name"><span class="condensed">Vincent</span> La</h1>
    <nav>
    {% for key, values in menu.items %}
       <a class="hvr-float-shadow hvr-back-pulse" href="{{ values.url }}">{{ key }}</a>
    {% endfor %}
    </nav>
</div>
    
<div id="about">
    <div style="max-width: 40em; margin: 4em auto 4em auto; line-height: 1.8em;">
        <h1>About Me</h1>
        <h2></h2>
        <p>Hi! My name is Vincent La and I am currently a senior at the University of California, Santa Barbara. When I graduate, the major listed on my diploma will be "Economics/Mathematics" although I have enjoyed and continue to learn more about  a myriad of other subjects. After all, they don't teach you how to build websites in math class. In pursuit of knowledge and all things that are cool, I have ended up with.
        </p>
        <p>I also specialize in
        <ul>
            <li>Dank memes</li>
            <li>Rare pepes</li>
        </ul>
        </p>
        
        <p>If you like what you see, you can contact me at vincela@gmail.com.
        </p>
        </div>
    </div>
</body>
</html>