<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Vincent La">
    <meta name="description" content="{{ description }}">
    <title>{% block title %}{% endblock %} - Vincent La </title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400:700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> 
    {% load static %}
    <link href='{% static "shared_css/shared.css" %}' rel='stylesheet' type='text/css'>
    <link href='{% static "presentation_css/presentation.css" %}' rel='stylesheet'>
    {% block morehead %}{% endblock %}
    </head>
<body>
    <header>
        <div id="logo">
            <h1><a href="/"><span>Vincent</span> La</a></h1>
            <nav style="text-align: right;">
            {% for key, values in menu.items %}<a href="{{ values.url }}">{{ key }}</a>{% endfor %}
            </nav>
        </div>
        <div id="title">
        {% block page_title %}
            <h1>{% block header %}{% endblock %}</h1>
        {% endblock %}
        </div>
    </header>
    <article>
        {% block content %}
        {% endblock %}
    </article>
    <footer>
        <p id="footer-menu"> 
            {% for key, values in menu.items %}<a href="{{ values.url }}">{{ key }}</a>{% endfor %}
        </p>
        <h3>Find Me</h3>
        <p>
            <a href="https://github.com/vincentlaucsb"><img src="{% static 'github.png' %}"></a>
            <a href="https://www.linkedin.com/in/vincent-la-0766b6117"><img src="{% static 'linkedin.png' %}"></a>
        </p>
        <p>&copy; 2016 Vincent La</p>
    </footer>
</body>
</html>