<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Vincent La">
    <meta name="description" content="{% block description %}{% endblock %}">
    <title>{% block title %}{% endblock %} - Vincent La</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> 
    {% load static %}
    <link href='{% static "shared_css/shared.css" %}' rel='stylesheet' type='text/css'>
    <link href='{% static "base_css/base.css" %}' rel='stylesheet' type='text/css'>
    <link href='{% static "base_css/base_responsive.css" %}' rel='stylesheet' type='text/css'>
    <link href='{% static "tutorial_css/tutorial_print.css" %}' rel='stylesheet' media='print' type='text/css'>
    
    <!-- Syntax highlighting -->
    <link rel="stylesheet" href="{% static 'highlight/styles/default.css' %} ">
    <script src="{% static 'highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- End of syntax highlighting -->
    
    <!-- Fade-in menu effects -->
    <style type="text/css">
        #toc-container {
            background-color: #E2EEF4;
            transition: background-color 2s;
            margin: -1em;
            padding: 1em;
        }
        .toc-hidden ul {
            display: none;
        }
    </style>
    {% block more_head %}
    <script src="{% static 'base_css/toc.js' %}"></script>
    <script src="{% static 'base_css/spoiler.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base_css/spoiler.css' %}">
    {% endblock %}
</head>
<body>
    <header>
        <div id="logo">
            <h1><a href="../"><span>Vincent</span> La</a></h1>
            <nav style="text-align: right;">
            {% for key, values in menu.items %}<a href="/../{{ values.url }}">{{ key }}</a>{% endfor %}
            </nav>
        </div>
    </header>
    <!--
    <div id="head">
        <h1><a href="../"><span style="color: rgba(209,219,189,1)">Vincent</span> La</a></h1>
        <nav>
        {% for key, values in menu.items %}<a href="{{ values.url }}">{{ key }}</a>{% endfor %}
        </nav>
    </div>-->
    <div id="content_wrap">
        <div id="page_title">
            <span class="breadcrumbs">
                <a href="../python">Python Tutorials</a> &#187;
            </span>
            <h1>{{ title }}</h1>
            </div>
        <div id="article_content">
            <div id="content">
                {% block content %}
                {% endblock %}
                <h2 style="border-bottom: 1px solid #eeeeee;">Keep Learning</h2>
                <div id="next-tut">
                    <p style="text-align: center">
                        {% if prev %}
                        <a href="../{{ prev.url }}" id="prev-tut-link"><strong>&#171; </strong>{{ prev }}</a>
                        {% endif %}
                        <a href="/python">Index</a>
                        {% if next %}
                        <a href="../{{ next.url }}" id="next-tut-link">{{ next }}<strong> &#187;</strong></a>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div id="sidebar-wrapper">
                <div id="sidebar">
                    <ul>
                        <li><a href="/python">Back to List of Python Tutorials</a></li>
                    </ul>
                    <h2>Related Tutorials</h2>
                    {{ related_tutorials }}
                    
                    {% block submenu %}
                    {% endblock %}
                    <div id="toc-container">
                        <h2 id="toc"></h2>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <footer>
        <p id="footer-menu"> 
            {% for key, values in menu.items %}<a href="{{ values.url }}">{{ key }}</a>{% endfor %}
        </p>
        <h3>Find Me</h3>
        <p>
            <a href="https://github.com/vincentlaucsb"><img src="{% static 'github.png' %}"></a>
            <a href="https://www.linkedin.com/in/vincent-la-0766b6117"><img src="{% static 'linkedin.png' %}"></a>
        </p>
        <p>&copy; 2016 Vincent La</p>
    </footer>
</body>
</html>